body {
    background-color: lightgrey;
    font-family: Helvetica, Verdana, sans-serif;
    background-image: url('multimedia/panoramic.jpg');
}

body section {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

body section audio {
    margin: auto;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    color: black;
    background-color: yellow;
    border: 5px dashed white;
    margin-left: 30%;
    margin-right: 30%;
}

h2 {
    text-decoration: underline;
}

p {
    font-size: 20px;
    text-align: justify;
    color: black;
}

nav {
    background-color: yellow;
    border: 4px dashed black;
}

footer {
    background-color: yellow;
    border: 4px solid black;
}

img {
    border: 6px linen white;
    display: block;
    width: 700px;
    height: 400px;
    float: inherit;
}

#historia {
    width: 50%;
    background-color: lightgreen;
    border: 5px solid greenyellow;
}

#Introduccion {
    width: 60%;
    background-color: yellow;
    border: 4px dashed green;
}

#protagonistas {
    width: 30%;
    background-color: lightsalmon;
    border: 4px dashed salmon;
}

#bandasonora {
    width: 30%;
    background-color: lightyellow;
    border: 3px solid yellowgreen;
}

#musica {
    background-color: yellow;
    width: 30%;
}