h3 {
    background-color: orange;
    border: 4px dashed black;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 3%;
}

p img {
    margin: auto;
    display: block;
    border: 4px solid white;
}

a img {
    margin: inherit;
}

.imagenesGaleria {
    width: 40%;
}